<!-- <h1>Home Template</h1>

<p><%= title %></p>
<ul>
  <% for (var i = 0; i < movies.length; i++) { %>
    <li><%= movies[i] %></li>
  <% } %>    
</ul> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    
    <% include partials/head.ejs %>

  </head>
  
  <body>
    <h1>The Force is With You</h1>

    <% for (var i = 0; i < movies.length; i++) { %>
      <img src="/images/<%= movies[i].poster %>">
    <% } %>  

    <% include partials/scripts.ejs %>
  </body>
</html>
